<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/master-page}">

<body>
<th:block layout:fragment="content">

    <h2>Welcome to Fairfield United Banking Corporation website!</h2>
    <p>
        Banking, mortgage and home equity products are provided by Bank of America, N.A. and affiliated banks, Members FDIC and wholly owned subsidiaries of Bank of America Corporation. Credit and collateral are subject to approval. Terms and conditions apply. This is not a commitment to lend. Programs, rates, terms and conditions are subject to change without notice. Bank of America may prohibit use of an account to pay off or pay down another Bank of America account.
    </p>
</th:block>
</body>
</html>